@model APIForecastModel

@{
    DateTime lastUpdateDateTime = DateTime.Parse(Model.LastUpdate);
    DateTime localTime = DateTime.Parse(Model.Localtime);
    string weekDay = localTime.ToString("dddd");
    string date = localTime.ToString("dd MMMM, yyyy");
    string localTimeHourMinute = $"{localTime.Hour}:{localTime.Minute}";
    string lastUpdateHourMinute = $"{lastUpdateDateTime.Hour}:{lastUpdateDateTime.Minute}";
}

<div class="d-flex flex-column forecast-container shadow-lg">
    <div class="d-flex flex-column flex-grow-1 forecast-current-container text-white">
        <div class="d-flex justify-content-between pt-2 ps-2 pe-2">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/arrow-left-solid.svg" alt="navigate-back" class="forecast-return" />
            </a>
            <div>
                <p class="fw-bold">Last update: @lastUpdateHourMinute</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1 ps-4 pe-4 pt-2 pb-2 ">
            <div class="d-flex flex-column">
                <p class="fw-bold fs-2">@weekDay</p>
                <p class="forecast-date">@date - @localTimeHourMinute</p>
            </div>
            <div class="align-items-center d-flex flex-grow-1 gap-3">
                <span class="forecast-degrees fw-bold">@Model.CelsiusTemperature°C</span>
                <div class="d-flex flex-column">
                    <span class="fs-4">@Model.Condition</span>
                    <span>@Model.City, @Model.Country</span>
                </div>
            </div>
        </div>
    </div>

    <div class="forecast-daily-container d-flex w-100">
        @foreach (var item in Model.ForecastList)
        {
            <div class="align-items-center d-flex flex-column forecast-daily-item gap-1 p-1 w-100">
                <p class="forecast-daily-item-title fw-bold">@item.Date.ToString("dddd").ToUpper()</p>
                <div class="align-items-center d-flex forecast-daily-item-condition justify-content-center">
                    <img src="@item.Icon" class="flex-grow-1" alt="@item.Condition" />
                </div>
                <div class="d-flex flex-column">
                    <p class="forecast-daily-item-temp fw-bold">@item.MaxTempCelsius°C</p>
                    <p class="forecast-daily-item-temp">@item.MinTempCelsius°C</p>
                </div>
            </div>
        }
    </div>
</div>